@page
@model PharmarcySystem.Pages.GenericData.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Generic Data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                <label asp-for="Generic.GenericName" class="control-label"></label>
                <input asp-for="Generic.GenericName" class="form-control" />
                <span asp-validation-for="Generic.GenericName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Generic.Decsription" class="control-label"></label>
                <input asp-for="Generic.Decsription" class="form-control" />
                <span asp-validation-for="Generic.Decsription" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
